<jsv-header>
    <button-header-left></button-header-left>
    <div class="logoHeader"></div>
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>

    <div id="backgroundCard3" class="backgroundCard level3">
        <div id="card3" class="card">
            <div class="photo">
                <div class="like"></div>
                <div class="nope"></div>
            </div>
            <div class="name">My cat A</div>
            <div class="location">Spain</div>
        </div>
    </div>
    <div id="backgroundCard2" class="backgroundCard level2">
        <div id="card2" class="card">
            <div class="photo">
                <div class="like"></div>
                <div class="nope"></div>
            </div>
            <div class="name">My cat B</div>
            <div class="location">Spain</div>
        </div>
    </div>
    <div class="backgroundCard level1">
        <div id="card1" class="card">
            <div class="photo"></div>
            <div class="name">My cat C</div>
            <div class="location">Spain</div>
        </div>
    </div>
    <div class="backgroundCard level0">
        <div id="card0" class="card">
            <div class="photo"></div>
            <div class="name">My cat D</div>
            <div class="location">Spain</div>
        </div>
    </div>
    
    <div id="menu"></div>
    
</jsv-content>